<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="AdminUserMapper">

<select id="allMember" resultType="String">
SELECT EMAIL
FROM USER_INFO
</select>

<select id="allAdmin" resultType="String">
SELECT EMAIL
FROM ADMIN_INFO
</select>

</mapper>