<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.kosta.mappers.AdminBookMapper">

<select id="selectMember" resultType="int">
SELECT COUNT(ID) FROM MEMBER WHERE ID=#{id}
</select>

<select id="selectBook" resultType="int">
SELECT COUNT(BNO) FROM room_b WHERE BNO=#{bno} and BRENT=1
</select>

<select id="selectBook2" resultType="int">
SELECT COUNT(BNO) FROM room_b WHERE BNO=#{bno} and BRENT=-1
</select>

<select id="searchID" resultType="String">
SELECT ID FROM RENT_BOOK WHERE BNO=#{bno} AND CHECK_SUBMIT IS FALSE
</select>

<select id="checkLateUser" resultType="int">
SELECT COUNT(id) FROM late WHERE end_date is null and id=#{id}
</select>

<select id="checkLateBook" resultType="boolean">
SELECT check_late FROM rent_book WHERE check_submit = false and bno=#{bno}
</select>

<select id="selectMoney" resultType="String">
SELECT MONEY FROM LATE WHERE end_date is null and bno=#{bno}
</select>

<select id="userInfo" resultType="User_InfoVO">
SELECT * FROM USER_INFO WHERE ID=#{id}
</select>

<select id="rentCnt" parameterType="String" resultType="int">
SELECT COUNT(B.BNO) RCNT
FROM RENT_BOOK R
INNER JOIN BOOK B ON R.BNO=B.BNO 
INNER JOIN ROOM_B RB ON R.BNO=RB.BNO
WHERE RB.BRENT=-1 
AND R.ID=#{id}
AND R.CHECK_SUBMIT = false

</select>

<select id="currentRent" resultType="Rent_BookVO">
SELECT R.RENT_DATE , R.SUBMIT_DATE, B.BTITLE, B.BNO, check_Late, l.money as money
FROM RENT_BOOK R
INNER JOIN BOOK B ON R.BNO=B.BNO 
INNER JOIN ROOM_B RB ON R.BNO=RB.BNO
LEFT JOIN LATE L ON R.BNO=L.BNO 
WHERE RB.BRENT=-1 
AND R.ID=#{id}
AND R.CHECK_SUBMIT = false

</select>

<insert id="insertRent">
INSERT INTO RENT_BOOK(BNO,ID,RENT_DATE,SUBMIT_DATE) 
VALUES(#{bno},#{id},now(),date_add(now(), interval +15 day ))
</insert>

<update id="submitRent">
UPDATE RENT_BOOK SET CHECK_SUBMIT = true WHERE bno = #{bno} 
</update>

<update id="submitLate">
UPDATE LATE SET END_DATE = curdate() WHERE bno = #{bno} 
</update>

<update id="submitRoom_b">
UPDATE ROOM_B SET BRENT = 1 WHERE bno = #{bno} 
</update>

<update id="updateRent">
UPDATE ROOM_B SET BRENT=-1 , BRENT_CNT=BRENT_CNT+1 
WHERE BNO=#{bno}
</update>



<!-- 신규 도서 등록 SQL -->
<sql id="search">
<if test="searchType!=null">
	AND BTITLE LIKE CONCAT('%',#{keyword},'%')
	<if test="searchType=='01'">
		<if test="value=='전체'">
		and a.bno like CONCAT(#{searchType},'%')
		</if>
		<if test="value=='시집'">
		and a.bno like CONCAT(#{searchType},'01','%')
		</if>
		<if test="value=='산문집'">
		and a.bno like CONCAT(#{searchType},'02','%')
		</if>
		<if test="value=='소설'">
		and a.bno like CONCAT(#{searchType},'03','%')
		</if>
	</if>
	<if test="searchType=='03'">
		<if test="value=='전체'">
		and a.bno like CONCAT(#{searchType},'%')
		</if>
		<if test="value=='프로그래밍'">
		and a.bno like CONCAT(#{searchType},'01','%')
		</if>
	</if>
	<if test="searchType=='04'">
		<if test="value=='전체'">
		and a.bno like CONCAT(#{searchType},'%')
		</if>
		<if test="value=='정치/외교'">
		and a.bno like CONCAT(#{searchType},'01','%')
		</if>
		<if test="value=='생태/환경'">
		and a.bno like CONCAT(#{searchType},'02','%')
		</if>
	</if>
	<if test="searchType=='05'">
		<if test="value=='전체'">
		and a.bno like CONCAT(#{searchType},'%')
		</if>
		<if test="value=='건축'">
		and a.bno like CONCAT(#{searchType},'01','%')
		</if>
	</if>
	<if test="searchType=='07'">
		<if test="value=='전체'">
		and a.bno like CONCAT(#{searchType},'%')
		</if>
		<if test="value=='인물'">
		and a.bno like CONCAT(#{searchType},'01','%')
		</if>
	</if>
	<if test="searchType=='99'">
		<if test="value=='전체'">
		and a.bno like CONCAT(#{searchType},'%')
		</if>
		<if test="value=='베스트일레븐'">
		and a.bno like CONCAT(#{searchType},'01','%')
		</if>
		<if test="value=='GAMERZ'">
		and a.bno like CONCAT(#{searchType},'02','%')
		</if>
		<if test="value=='PC사랑'">
		and a.bno like CONCAT(#{searchType},'03','%')
		</if>
		<if test="value=='GQ코리아'">
		and a.bno like CONCAT(#{searchType},'04','%')
		</if>
		<if test="value=='매거진B'">
		and a.bno like CONCAT(#{searchType},'05','%')
		</if>
		<if test="value=='위즈키즈'">
		and a.bno like CONCAT(#{searchType},'06','%')
		</if>
		<if test="value=='과학소년'">
		and a.bno like CONCAT(#{searchType},'07','%')
		</if>
		<if test="value=='더스타'">
		and a.bno like CONCAT(#{searchType},'08','%')
		</if>
		<if test="value=='마리끌레르'">
		and a.bno like CONCAT(#{searchType},'09','%')
		</if>
		<if test="value=='아망'">
		and a.bno like CONCAT(#{searchType},'10','%')
		</if>
		<if test="value=='탑기어'">
		and a.bno like CONCAT(#{searchType},'11','%')
		</if>
		<if test="value=='좋은생각'">
		and a.bno like CONCAT(#{searchType},'12','%')
		</if>
		<if test="value=='행복이가득한집'">
		and a.bno like CONCAT(#{searchType},'13','%')
		</if>
	</if>
</if>
</sql>
<!-- 비치도서목록 -->
<select id="selectBookList" resultType="BookVO">
select a.bno,  b.brent , btitle, bWriter, bCompany, bIntro, buy_date, bLocation, bYear
from book a 
inner join room_b b on a.bno = b.bno 
where  bLocation = 1 
<include refid="search"></include>
order by bno desc
limit #{pageStart}, #{perPageNum}
</select>

<!-- 페이징 -->
<select id="countBookList" resultType="int">
select count(a.bno) 
from book a 
inner join room_b b on a.bno = b.bno 
where  bLocation = 1 
 <include refid="search"></include>
 </select>

<!-- 폐기도서목록 -->
<select id="selectBookList2" resultType="BookVO">
select a.bno,  b.f_date , btitle, bWriter, bCompany, bIntro, buy_date, bLocation, bYear
from book a 
inner join room_f b on a.bno = b.bno 
where  bLocation = 0 
<include refid="search"></include>
order by bno desc
limit #{pageStart}, #{perPageNum}
</select>

<!-- 페이징 -->
<select id="countBookList2" resultType="int">
select count(a.bno) 
from book a 
inner join room_f b on a.bno = b.bno 
where  bLocation = 0 
 <include refid="search"></include>
 </select>

<!-- 폐기도서등록 리스트 불러오기 -->
<select id="selectRegBookList" resultType="BookVO">
select a.bno,  b.brent , btitle, bWriter, bCompany, bIntro, buy_date, bLocation, bYear
from book a 
inner join room_b b on a.bno = b.bno 
where  bLocation = 1 
<include refid="search"></include>
order by bno desc
limit #{pageStart}, #{perPageNum}
</select>

<!-- 페이징 -->
<select id="countRegBookList" resultType="int">
select count(a.bno) 
from book a 
inner join room_b b on a.bno = b.bno 
where  bLocation = 1 
 <include refid="search"></include>
 </select>

<!-- book table blocation 변경 -->
<update id="reg_wareUpdate">
update book set blocation=0 where bno=#{bNo}
</update>

<!-- room_f 등록 폐기 -->
<insert id="reg_wareInsert">
insert into room_f values(#{bNo},curdate())
</insert>

<!-- 신규 도서 등록 -->
<!-- 마지막 도서 정보 불러오기 -->
<select id="selectLastBookList" resultType="BookVO">
select bno, a.btitle, a.bcompany, a.byear, a.buy_date, a.bwriter, a.bintro
from book a
where bno=(select  max(bno) as bno from book a where bno is not null <include refid="search"></include> )
	

</select>
</mapper>


