<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="AdminUserMapper">

<select id="allMember" resultType="String">
SELECT EMAIL
FROM USER_INFO
</select>

<select id="allAdmin" resultType="String">
SELECT EMAIL
FROM ADMIN_INFO
</select>

<select id="selectLateUserList" resultType="LateVO">
SELECT l.id, l.bno, b.btitle, l.start_date, l.end_date, u.name, b.bcompany, l.money, b.bwriter
FROM LATE l
INNER JOIN BOOK b on b.bno = l.bno
INNER JOIN USER_INFO u on u.id = l.id
order by l.bno desc
LIMIT #{pageStart}, #{perPageNum}
</select>


<select id="countLateUserList" resultType="int">
SELECT count(*)
FROM LATE l
INNER JOIN BOOK b on b.bno = l.bno
INNER JOIN USER_INFO u on u.id = l.id
order by l.bno desc
LIMIT #{pageStart}, #{perPageNum}
</select>

<select id="lateUser" resultType="String">
SELECT u.EMAIL
FROM LATE l
INNER JOIN BOOK b on b.bno = l.bno
INNER JOIN USER_INFO u on u.id = l.id
WHERE l.end_date is null
</select>
</mapper>