<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.kosta.mappers.BestMapper">

<select id="read" resultType="ReadVo">
select BNO, BYEAR, BTITLE, BWRITER, BCOMPANY, BINTRO, BUY_DATE from book where BNO=#{BNO}
</select>

<select id="best" resultType="BestVo">
	SELECT * FROM room_b a LEFT JOIN  book b ON a.bno = b.bno ORDER BY BRENT_CNT DESC LIMIT 10 ;
</select>

<select id="genre1" resultType="BestVo">
	SELECT * FROM room_b a LEFT JOIN  book b ON a.bno = b.bno  where a.bno like "0101%" ORDER BY BRENT_CNT DESC LIMIT 3 ;
</select>

<select id="genre2" resultType="BestVo">
	SELECT * FROM room_b a LEFT JOIN  book b ON a.bno = b.bno  where a.bno like "0102%" ORDER BY BRENT_CNT DESC LIMIT 4 ;
</select>

<select id="genre3" resultType="BestVo">
	SELECT * FROM room_b a LEFT JOIN  book b ON a.bno = b.bno  where a.bno like "0103%" ORDER BY BRENT_CNT DESC LIMIT 7 ;
</select>

<select id="genre4" resultType="BestVo">
	SELECT * FROM room_b a LEFT JOIN  book b ON a.bno = b.bno  where a.bno like "99%" ORDER BY BRENT_CNT DESC LIMIT 5 ;
</select>

<!-- 커맨드 입력 -->

</mapper>