<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="StudyRoomMapper">

<select id="aRoomList"  resultType="StudyRoomVO">
SELECT *
FROM STUDYROOM
WHERE NUM LIKE 'a%'
</select>

<select id="bRoomList"  resultType="StudyRoomVO">
SELECT *
FROM STUDYROOM
WHERE NUM LIKE 'b%'
</select>

<select id="cRoomList"  resultType="StudyRoomVO">
SELECT *
FROM STUDYROOM
WHERE NUM LIKE 'c%'
</select>

</mapper>


