@import url(http://fonts.googleapis.com/earlyaccess/jejugothic.css); /* 제주 고딕 	font-family: 'Jeju Gothic', serif;  */
@import url(http://fonts.googleapis.com/earlyaccess/notosanskr.css); /* notosans font-family: 'Noto Sans KR', sans-serif; */
@import url(http://fonts.googleapis.com/earlyaccess/jejuhallasan.css); /* 제주 한라산 font-family: 'Jeju Hallasan', serif; */
@import url(http://fonts.googleapis.com/earlyaccess/nanumbrushscript.css); /* 나눔 손글씨 붓 font-family: 'Nanum Brush Script', serif; */
@import url(http://fonts.googleapis.com/earlyaccess/nanumpenscript.css); /* 나눔 손글씨 펜  font-family: 'Nanum Pen Script', serif;  */
@import url(http://fonts.googleapis.com/earlyaccess/hanna.css); /* 한나체 font-family: 'Hanna', serif; */

/* Global properties ======================================================== */
html, body {width:100%; padding:0; margin:0;}
#menu{ padding-left: 10px}
#line{margin-top: 10px}
#menu img{width: 180px; padding-top: 10px}
#menu ul{padding-top: 20px}



 #header2 {width:1024px; margin:0 auto; z-index:1000; position:relative; display: flex; padding-top: 50px}
#leftmenu {flex: 1; height: 405px }
#rightcontent {flex: 4; background-color: #ffffff; float: left; min-height: 500px}
#logincontent {width:1024px; min-height:450px; margin:0 auto; z-index:1000; position:relative; padding-top: 100px; padding-left: 250px }
.slider { width:1024px; height:100px; margin:0 auto; position:relative; z-index:1001;  }

/* --------------------------section---------------------------------------- */
section{ font-size: 13px; width: 819px; background-image: url("../../images/body.png"); background-size: cover; height: 112px}
section #link{float: right; }
section #word{padding-top: 30px; padding-left:20px; width: 250px; position: absolute; font-family: 'Hanna', serif; color: sienna; text-shadow: 2px 2px #BDBDBD;}
#link53 {margin-right: 40px; margin-top: 5px}
#link54 {margin-right: 50px; margin-top: 5px}
#link55 {margin-right: 65px; margin-top: 5px}
#link56 {margin-right: 70px; margin-top: 5px}
#link43 {margin-right: 45px; margin-top: 5px}
#link44 {margin-right: 55px; margin-top: 5px}
#link45 {margin-right: 65px; margin-top: 5px}
#link24 {margin-right: 55px; margin-top: 5px}
#link25 {margin-right: 70px; margin-top: 5px}
#link26 {margin-right: 80px; margin-top: 5px}
#link34 {margin-right: 60px; margin-top: 5px}
#link35 {margin-right: 75px; margin-top: 5px}
#link36 {margin-right: 80px; margin-top: 5px}
#link37 {margin-right: 85px; margin-top: 5px}
#link a {text-decoration: none; color: gray; font-size: 10px; margin-top: 5px}
#link b {text-decoration: none; color: navy; float: right; margin-top: -21px}

/*********************************header*************************************/
 
.header {position:relative; width:100%;}
.header>div { position:relative; width:100%;}
header {width:1024px; margin:0 auto; z-index:1000; position:relative;}
.header .nav {position:absolute; width:100%; z-index:999;padding-bottom:1px; background-image:url("../../images/test.png"); height: 110px; border-radius: 20px }
.topnavnav {width:1024px; margin:3px auto 0 auto; position:relative;  }
.subpages-nav {position:relative; width:100%; z-index:999; height:174px; }
.subpages-nav nav {background:transparent !important; padding-top:59px; margin-top:0 !important;  }
h1 {display:inline-block; z-index:100; position:absolute; top:6px; left:465px; z-index:1000; }

#topmenu{list-style-type: none; padding:46px 0px 0px 40px;}
.nav ul {display:inline-block;display:block;  }
.nav ul #menu {float:left; display:inline-block; line-height:24px; background:url(../../images/li.png) 0 0 no-repeat; padding:0 20px 0 38px; }
.nav ul #menu.li-none {background:transparent;}
.nav ul #menu.li-left {margin-left:150px;} 
.nav ul #menu > a {font-size:20px; line-height:24px; display:inline-block; color:white;  font-family: 'Hanna', serif; text-shadow: 2px 2px #000000}
.nav ul #menu > a:hover { color:black; text-shadow: 0px 0px #000000; }
.nav ul #menu .sub{position: absolute; height: 0px; overflow: hidden; transition: height .2s; -webkit-transition: height .2s; }
.nav ul #menu:hover .sub{height: 300px;} 
.sub {padding-top: 38px; margin-left: -25px; color:#000087; text-shadow: 2px 2px white;color:#0000a0; }
.sub a{font-size:20px; line-height:24px; display:inline-block; color:#000087;  font-family: 'Hanna', serif; text-shadow: 2px 2px white; opacity: 0.9}
.sub a:hover{color:black; text-shadow: 0px 0px #ff8000;}
.submenu{width:140px; height:30px; line-height : 24px;  background-color: rgba(231,231,231,0.7);  text-align: center; padding-top: 10px; }
.sub .end{border-radius: 0 0 10px 10px}
.sub .start{border-radius: 10px 10px 0px 0px}


a {text-decoration:none; cursor:pointer; }

.wrapper{width:100%; position:relative; overflow:hidden;  padding:7px 0 10px 0; }
#top_nav li {float:right;padding-right:8px;margin-right:6px;z-index: 1000;}
#top_nav li a {color:#000;text-decoration:none;font-size:12px; font-family: 'Noto Sans KR', sans-serif;}
#top_nav .fi {padding-right:0;margin-right:0;background:none; position: absolute; right: 105px;}
#top_nav .fii {padding-right:0;margin-right:0;background:none; position: absolute; right: 130px;}
#top_nav .se {padding-right:0;margin-right:0;background:none; position: absolute; right: 60px;}
#top_nav .th {padding-right:0;margin-right:0;background:none; position: absolute; right: 1px;}


.dat{width:1024px; margin:0 auto;  position:relative; font-family: 'Jeju Gothic', cursive; color: #5D5D5D; font-size: 13px }

/****************************footer************************/
footer {width:1024px; margin:0 auto; z-index:1000; position:relative; padding-top: 5px}
footer a {color: blue; font-size: 14px; font-family: 'Noto Sans KR', serif; font-weight: 500;}
#bottom-text {float: right; padding-right: 260px; font-size: 14px; font-family: 'Noto Sans KR', serif; color: #8C8C8C}