	table, table td{ vertical-align: middle; vertical-align: -webkit-middle; text-align: center; text-align: -webkit-center;}
	.signtable1 td{text-align: center; text-align: -webkit-center; vertical-align: middle; vertical-align: -webkit-middle;}
	.signtable td{text-align: left; vertical-align: middle; vertical-align: -webkit-middle;}
	
    A:visited	{color:#0080c0 ; text-decoration:none; }
    A:hover	{color:#00A7ED ; text-decoration:none; } 

    TD		{color:#333333 ; font :9pt Gulim, 굴림,Helvetica,Arial,Verdana;}
    textarea {background-color:#FFFFFF; BORDER-LEFT: #BECAB5 1px solid; BORDER-RIGHT: #BECAB5 1px solid; BORDER-TOP: #BECAB5 1px solid; BORDER-BOTTOM: #BECAB5 1px solid; LINE-HEIGHT: 9pt; color: #333333; font :10pt Gulim,돋움,Helvetica,Arial,Verdana;}


input {background:#dfdfdf; border-radius: 3px 3px 3px 3px; height: 20px; }
input:focus { outline:0;background:#fff;box-shadow:0 0 2px rgba(0,0,0,.8) inset}
