@import url(http://fonts.googleapis.com/earlyaccess/jejugothic.css); /* 제주 고딕 	font-family: 'Jeju Gothic', serif;  */
@import url(http://fonts.googleapis.com/earlyaccess/notosanskr.css); /* notosans font-family: 'Noto Sans KR', sans-serif; */
@import url(http://fonts.googleapis.com/earlyaccess/jejuhallasan.css); /* 제주 한라산 font-family: 'Jeju Hallasan', serif; */
@import url(http://fonts.googleapis.com/earlyaccess/nanumbrushscript.css); /* 나눔 손글씨 붓 font-family: 'Nanum Brush Script', serif; */
@import url(http://fonts.googleapis.com/earlyaccess/nanumpenscript.css); /* 나눔 손글씨 펜  font-family: 'Nanum Pen Script', serif;  */
@import url(http://fonts.googleapis.com/earlyaccess/hanna.css); /* 한나체 font-family: 'Hanna', serif; */


#userLibrary {width:1024px; margin:0 auto; z-index:1000; position:relative; display: flex; border-top: 3px solid #e8e8e8; margin-top: 5px}
#mainleft {flex: 1; background-color: white;}
#maincenter {flex: 2; background-color: #ffffff; }
#mainright {flex: 1; background-color: white;}


/*-------Login form-------------------*/
.loginForm{position:relative;width:256px; height : 110px; padding-top: 5px;}
 .loginForm .box{width:256px}
 .loginForm .box .iText{width:120px;margin:3px 0 0 5px;padding:10px 12px;border:1px solid #e1e1e1}
 .loginForm .box p{margin-top:5px}
 .loginForm .box p span,
 .loginForm .box p input{height:18px;font-size:11px;color:#737373;line-height:18px;vertical-align:middle}
 .loginForm .loginBtn{display:block;position:absolute;top:11px;right:0;width:100px;height:80px;padding:10px;border-radius:5px;
 font-size:14px;font-weight:700;color:#fff;line-height:60px;text-align:center;text-shadow:1px 1px 1px #004773;background:#333}
.llogbottom{float: left; padding-left: 5px; text-decoration: none; size: 10px  } 
.rlogbottom{float: right; text-decoration: none;}

.logMember{position:relative;width:252px; height : 110px; margin-right:1px; margin-top : 0px;border: 1px solid #e8e8e8;border-bottom-color: #c3c3c3; border-top-color: white;}
.logMember table {width : 250px; height : 110px; vertical-align: middle; font-family: 'Noto Sans KR'; color: gray;}
/*------search------------------------*/
.mainsearch {background-image: url("../../images/mainsearch.png"); width: 512px; height: 303px; }
#searchBox{height:50px}
#select_box{height: 28px; background-color: #e1e1e1; color: #5b5b5b; border-radius: 8px; border-color: white; box-shadow: 1px 1px 2px 1px #c3c3c3; font-family: 'Hanna', serif; }
.cf:before, .cf:after{content:"";display:table;}
.cf:after{clear:both}
.cf{zoom:1} 
.searchform{width:490px;padding:10px; border-radius: 3px 0 0 3px; }
.searchform input {width:356px;height:10px;padding:10px; background:#dfdfdf; border-radius: 3px 0 0 3px; }
.searchform input:focus {outline:0;background:#fff;box-shadow:0 0 2px rgba(0,0,0,.8) inset}
.searchform button {overflow:visible;position:relative;float:right;border:0;padding:0;cursor:pointer;height:30px;width:50px;
    font: bold 12px/35px 'Jeju Gothic';line-height:30px;color: #fff;background:#d83c3c;border-radius: 0 3px 3px 0;text-shadow: 0 -1px 0 rgba(0, 0 ,0, .3);}   
.searchform button:hover{ackground: #e54040}   
.searchform button:active,.searchform button:focus{background:#c42f2f;outline:0}
.searchform button:before {content:'';position:absolute;border-width: 8px 8px 8px 0;border-style: solid solid solid none;border-color: transparent #d83c3c transparent;
    top: 8px;left: -6px;}
.searchform button:hover:before{border-right-color: #e54040}
.searchform button:focus:before,.searchform button:active:before{border-right-color: #c42f2f}      
.searchform button::-moz-focus-inner {border:0;padding:0}

/* 공지사항 및 게시판 css */
ul.tabs {  margin: 0;  padding: 0;  float: left;  list-style: none;  height: 32px;  border-bottom: 1px solid #eee;
    border-left: 1px solid #eee;  width: 100%;  font-family:"dotum";  font-size:12px;}
ul.tabs li {  float: left;  text-align:center;  cursor: pointer;  width:82px;  height: 31px;  line-height: 31px;  border: 1px solid #eee;
    border-left: none;  font-weight: bold;  background: #fafafa;  overflow: hidden;  position: relative;}
ul.tabs li.active {  background: #FFFFFF;  border-bottom: 1px solid #FFFFFF; }
.tab_container {  border: 1px solid #eee;  border-top: none;  clear: both;  float: left;  width: 512px;  background: #FFFFFF; }
.tab_content {  padding: 5px;  font-size: 14px;  display: none; table-layout: fixed; };
.tab_container .tab_content ul {  width:100%;  margin:0px;  padding:0px; }
.tab_container .tab_content ul li {  padding:5px;  list-style:none };
#container {  width: 249px;  margin: 0 auto; }
.tab_container table tr{border-bottom: 1px solid #e3e3e3; }
.tab_container table td{display: inline-block; overflow: hidden;text-overflow: ellipsis;white-space: nowrap;}
.more {float: right; background-color: #ff7373; border-radius: 10px; width: 40px; padding-left: 12px; font-family: 'Nanum Pen Script', serif; font-size: 18px }

/* 슬라이드배너 */
#wrap{position:relative; width:100%;}
.li-img {width: 254px;}
#main_bn {margin:0 auto; width:255px; height:338px;	}
#main_bn img {width:100%; height:auto; }
#main_bn_btn {position:absolute; bottom:5px; left:5px; opacity: 0.7;}
#main_bn_btn li {float: left; padding:0px 2px; margin-right:5px; }
a, a:hover, a:visited { text-decoration:none; color: gray; }
ul li { list-style : none; }

/*----자주 찾는 서비스------*/
#gobtn {padding-top: 20px}

/*--------캘린더-----------*/
#calTitle *, #myCalender * { position:relative; margin: 0px; padding: 0px; text-align: center; vertical-align: middle; } 
#calTitle, #myCalender { margin: 0px; padding: 0px; text-align: center;  font-family: '돋움', Dotum, AppleGothic, sans-serif; font-size: 12px; } 
#themore {color: white; height:15px; margin-top:2px; float: right; border-radius: 8px; font-family: 'Nanum Pen Script', serif; font-size: 14px; background-color: #004b97;}
#myCalender{margin-left: 15px}
#calTitle { margin-bottom: 5px; } 
#calTitle button { width: 26px; height: 16px; font-size: 9px; line-height: normal; } 
#calTitle span { width: auto; } 

#myCalender td { 
	 border: 1px solid #d6e0fe; padding: 4px 5px 3px 5px; width: 22px; height: 22px; 
	 font-family: 돋움, Dotum, AppleGothic, sans-serif; font-size: 12px; vertical-align: middle;
} 
#myCalender .blankLine td { border-width: 0; } 

/* ------------심플 배너---------------- */

/** RESET AND LAYOUT
===================================*/

.bx-wrapper {position: relative;margin: 0 auto 60px;padding: 0;	*zoom: 1;}
.bx-wrapper img {max-width: 100%;display: block;}

/** THEME
===================================*/

.bx-wrapper .bx-viewport {	/*fix other elements on the page moving (on Chrome)*/-webkit-transform: translatez(0);-moz-transform: translatez(0);-ms-transform: translatez(0);-o-transform:translatez(0);transform: translatez(0);}
.bx-wrapper .bx-viewport ul {margin:0px; padding:0px;}

.bx-wrapper .bx-pager,
.bx-wrapper .bx-controls-auto {position: absolute;	bottom: 10px;width: 100%;}

/* LOADER */

.bx-wrapper .bx-loading {min-height: 50px;background: url(/resources/images/bx_loader.gif) center center no-repeat #fff;height: 100%;	width: 100%;position: absolute;	top: 0;left: 0;	z-index: 2000;}

/* PAGER */

.bx-wrapper .bx-pager {text-align: center;font-size: .85em;font-family: Arial;font-weight: bold;color: #ccc;padding-top: 20px;}

.bx-wrapper .bx-pager .bx-pager-item,
.bx-wrapper .bx-controls-auto .bx-controls-auto-item {display: inline-block;*zoom: 1;*display: inline;}

.bx-wrapper .bx-pager.bx-default-pager a {background: #ccc;text-indent: -9999px;display: block;	width: 10px;height: 10px;margin: 0 5px;	outline: 0;	-moz-border-radius: 5px;-webkit-border-radius: 5px;	border-radius: 5px;}

.bx-wrapper .bx-pager.bx-default-pager a:hover,
.bx-wrapper .bx-pager.bx-default-pager a.active {background: #000;}

/* DIRECTION CONTROLS (NEXT / PREV) */

.bx-wrapper .bx-prev {left: 10px;	background: url(../../images/controls.png) no-repeat -75px 0px;}
.bx-wrapper .bx-next {right: 10px;	background: url(../../images/controls.png) no-repeat -85px -13px;}
.bx-wrapper .bx-prev:hover {background-position: -75px -13px;}
.bx-wrapper .bx-next:hover {background-position: -85px 0;}
.bx-wrapper .bx-controls-direction a {position: absolute;top: 50%; margin-left:-6px; margin-top: -5px;outline: 0;width: 11px;height: 11px;text-indent: -9999px;z-index: 9999;}
.bx-wrapper .bx-controls-direction a.disabled {	display: none;}

/* AUTO CONTROLS (START / STOP) */

.bx-wrapper .bx-controls-auto {text-align: center;}
.bx-wrapper .bx-controls-auto .bx-start {display: block;text-indent: -9999px;width: 10px;height: 11px;outline: 0;background: url(../../images/controls.png) -86px -11px no-repeat;margin: 0 3px;}
.bx-wrapper .bx-controls-auto .bx-start:hover,
.bx-wrapper .bx-controls-auto .bx-start.active {background-position: -86px 0;}
.bx-wrapper .bx-controls-auto .bx-stop {display: block;	text-indent: -9999px;width: 9px;height: 11px;outline: 0;background: url(../../images/controls.png) -86px -44px no-repeat;	margin: 0 3px;}
.bx-wrapper .bx-controls-auto .bx-stop:hover,
.bx-wrapper .bx-controls-auto .bx-stop.active {background-position: -86px -33px;}

/* PAGER WITH AUTO-CONTROLS HYBRID LAYOUT */

.bx-wrapper .bx-controls.bx-has-controls-auto.bx-has-pager .bx-pager {text-align: left;width: 80%;}
.bx-wrapper .bx-controls.bx-has-controls-auto.bx-has-pager .bx-controls-auto {right: 0;width: 35px;}

/* IMAGE CAPTIONS */

.bx-wrapper .bx-caption {position: absolute;bottom: 0;	left: 0;background: #666\9;	background: rgba(80, 80, 80, 0.75);width: 100%;}
.bx-wrapper .bx-caption span {color: #fff;font-family: Arial;display: block;font-size: .85em;	padding: 10px;}
#s_banner_wrap {position:relative;z-index:1; width:256px; height:100px; position: relative; margin:10px 10px}

/* 사용자 페이징 위치와 모양을 자유롭게 변형 */
#bx-pager1 {position: absolute; bottom:10px;}
#bx-pager1 a{float:left; margin:0 5px;display: block; width:20px; height:20px; font-size:12px; line-height:18px; text-align:center; background:#999; color:#333}
#bx-pager1 a:hover, .bx-pager1 a:active{ background: #000; color: #CCC;}

/* 엑티브상태에 대한 속성값 지정 */
#bx-pager1 a.active{ background: #000; color: #CCC;}