@import url(http://fonts.googleapis.com/earlyaccess/jejugothic.css); /* 제주 고딕 	font-family: 'Jeju Gothic', serif;  */
@import url(http://fonts.googleapis.com/earlyaccess/notosanskr.css); /* notosans font-family: 'Noto Sans KR', sans-serif; */
@import url(http://fonts.googleapis.com/earlyaccess/jejuhallasan.css); /* 제주 한라산 font-family: 'Jeju Hallasan', serif; */
@import url(http://fonts.googleapis.com/earlyaccess/nanumbrushscript.css); /* 나눔 손글씨 붓 font-family: 'Nanum Brush Script', serif; */
@import url(http://fonts.googleapis.com/earlyaccess/nanumpenscript.css); /* 나눔 손글씨 펜  font-family: 'Nanum Pen Script', serif;  */


/* global */
.fright{float: right;}
.listw{width: 100px}
textarea {padding: 10px 0 0 10px}

.menubtn{
 width:170px;
 border-radius: 5px;font-size:16px; padding: 8px 8px 8px 8px; text-decoration:none; display:inline-block;text-shadow: 0px 0px 0 rgba(255,255,255,0.3);font-weight:bold; color: #253559;
 background-color: #FCFDFF; background-image: -webkit-gradient(linear, left top, left bottom, from(#FCFDFF), to(#BEC9CF));
 background-image: linear-gradient(to bottom, #FCFDFF, #BEC9CF);filter:progid:DXImageTransform.Microsoft.gradient(GradientType=0,startColorstr=#FCFDFF, endColorstr=#BEC9CF);
}

.menubtn:hover{
 color: #435fa0;
 border:0px solid #B6C7CC;
 background-color: #CBCBCB; background-image: -webkit-gradient(linear, left top, left bottom, from(#CBCBCB), to(#EDEDF7));
 background-image: linear-gradient(to bottom, #CBCBCB, #EDEDF7);filter:progid:DXImageTransform.Microsoft.gradient(GradientType=0,startColorstr=#CBCBCB, endColorstr=#EDEDF7);

}

#leftmenu {flex: 1; padding-right: 5px;  }
#left{padding-left: 3px; border: #E4E4E4 2px solid; border-radius: 10px; box-shadow: 2px 2px #BDBDBD; padding-bottom: 5px}
#left img{width: 180px; padding-top: 10px; padding-left: 3px}
#left ul{padding-top: 20px}
#rightcontent {flex: 4; background-color: #F6F6F6; float: left; padding: 5px 7px 5px 5px; border-radius: 7px; margin-bottom: 15px}
#insidebody{padding: 20px 0 20px 20px; max-width: 790px; border: #EAEAEA 1px solid; box-shadow: 2px 2px #D8D8D8; border-radius: 10px; margin-top: 3px; background-color: white;}
#modicenter{padding-left: 230px}
#modibox{border: #EAEAEA 1px solid; box-shadow: 2px 2px #D8D8D8; width: 310px; padding: 5px 5px 5px 5px; border-radius: 10px}

input {background:#dfdfdf; border-radius: 3px 3px 3px 3px; height: 30px; padding-left: 10px }
input:focus { outline:0;background:#fff;box-shadow:0 0 2px rgba(0,0,0,.8) inset}

button{ 
width:100px; height:30px;  font-family: '맑은 고딕'; cursor:pointer;
 border-radius: 5px;font-size:12px; text-decoration:none; display:inline-block;text-shadow: 0px 0px 0 rgba(255,255,255,0.3);font-weight:bold; color: #253559;
 background-color: #FCFDFF; background-image: -webkit-gradient(linear, left top, left bottom, from(#FCFDFF), to(#BEC9CF));
 background-image: linear-gradient(to bottom, #FCFDFF, #BEC9CF);filter:progid:DXImageTransform.Microsoft.gradient(GradientType=0,startColorstr=#FCFDFF, endColorstr=#BEC9CF);
	
}
button:hover{
 color: #435fa0;
 border:0px solid #B6C7CC;
 background-color: #CBCBCB; background-image: -webkit-gradient(linear, left top, left bottom, from(#CBCBCB), to(#EDEDF7));
 background-image: linear-gradient(to bottom, #CBCBCB, #EDEDF7);filter:progid:DXImageTransform.Microsoft.gradient(GradientType=0,startColorstr=#CBCBCB, endColorstr=#EDEDF7);

}

select{height: 23px; background-color: #e1e1e1; border-color : #c5c5c5; color: #5b5b5b; border-radius: 3px; font-family: 'Hanna', serif; }

/* --------------------------section---------------------------------------- */
section{ font-size: 13px; width: 800px; border:#EAEAEA 1px solid; border-radius : 10px; padding-right : 10px; padding-top : 5px; box-shadow:2px 2px #D8D8D8; height: 105px; background-color: white;}
section #link{float: right; }
section #word{padding-top: 30px; padding-left:20px; width: 250px; position: absolute; font-family: 'Hanna', serif; color: #39369C; text-shadow: 2px 2px #BDBDBD;}
#link53 {margin-right: 40px; margin-top: 5px}
#link54 {margin-right: 50px; margin-top: 5px}
#link55 {margin-right: 65px; margin-top: 5px}
#link56 {margin-right: 70px; margin-top: 5px}
#link59 {margin-right: 100px; margin-top: 5px}
#link43 {margin-right: 45px; margin-top: 5px}
#link44 {margin-right: 55px; margin-top: 5px}
#link45 {margin-right: 65px; margin-top: 5px}
#link24 {margin-right: 55px; margin-top: 5px}
#link25 {margin-right: 70px; margin-top: 5px}
#link26 {margin-right: 80px; margin-top: 5px}
#link34 {margin-right: 60px; margin-top: 5px}
#link35 {margin-right: 75px; margin-top: 5px}
#link36 {margin-right: 80px; margin-top: 5px}
#link37 {margin-right: 85px; margin-top: 5px}
#link a {text-decoration: none; color: gray; font-size: 10px; margin-top: 5px}
#link b {text-decoration: none; color: navy; float: right; margin-top: -21px}

/* table */
.moditable #td1 {background-color: #F3F3F3; vertical-align: middle; padding: 0 5px 0 5px}
.moditable #td1 img {padding-bottom: 3px}
.viewtable { box-shadow: 4px 4px #fdf5e1; margin-left: 7px; margin-top: 10px}
.viewtable #vtd1 {background-color: #E5EFF3; border-bottom: #c9dfe7 1px solid; border-right:#c9dfe7 1px solid; font-family: 'Noto Sans KR', sans-serif; text-align: center; font-size: 16px; font-weight: 500;}
.viewtable #vtd2 {background-color: #FCFCFC; border : #e8e8e8 1px solid; font-family: 'Jeju Gothic', serif; font-size: 14px; padding-top: 3px; text-align: center;}
.viewtable th {background-color: rgba(60, 141, 188, 0.17); vertical-align: middle; border-left : #e2e2e2 1px solid; border-bottom : #cfcfcf 1px solid; border-right: #e2e2e2 1px solid; border-top : #e2e2e2 1px solid;  height: 35px }
.viewtable td {height: 30px; vertical-align: middle; border-bottom: #C6C6C6 1 solid; }
.viewtable #thstart {border-left: #EAEAEA 1px solid;}
.viewtable #thend {border-right: #EAEAEA 1px solid;}

.listtable th{ background-color: #E8EBF1; border-bottom: #C4CDD9 1px solid; border-top: #7187A3 1px solid; height: 30px; vertical-align: middle;}
.listtable td{text-align: center; vertical-align: middle; height: 28px; border-bottom: #E8EBF1 1px solid; font-family: 'Jeju Gothic', serif; font-size: 15px; color: #4c4c4c}
.listtable a{color: #686868; font-family: 'Jeju Gothic', serif; font-size: 15px; vertical-align: middle; padding-top: 5px}

.listread {border-top: #7187A3 1px solid;}
.listread th{background-color: #E8EBF1; border-bottom: #C4CDD9 1px solid;  border-top: #7187A3 1px solid; height: 25px; vertical-align: middle;}
.listread td{border-bottom: #C4CDD9 1px solid; font-family: 'Noto Sans KR', sans-serif; padding-bottom: 5px; height: 25px;}
.listread #listTitle{  height: 25px; padding-top: 5px;}
.listread #listcontents { padding: 10px 0 0 10px; border-bottom: #C4CDD9 1px solid; }

#write {background-color: white; border-radius: 0;} 	/* input*/
#write:FOCUS {border: none; box-shadow:0 0 0 0; border-radius: 0;}



.text-center {border-top: #7187A3 1px solid; width: 770px; margin-top: -1px; padding-top: 10px; text-align: center;}

.paging{  width: 100%;  padding-right: 20px;  margin: 0 auto; text-align: center; }

.paging ul{ list-style: none; margin-top: 5px}

.paging ul li { padding-bottom: 3px; font-size: 16px; font-family: 'Hanna', serif; display:inline-block; padding-right: 10px;}
.paging a{ color: #004080; }
.paging a:HOVER {color: red;}
.pagination > .active > a,
.pagination > .active > a:hover{ z-index: 3; color: red; cursor: default; }

/* ----------------------댓글--------------------------  */
.commentdiv {width: 750px; height: 160px; background-color:#eceff2; padding: 5px 0 0 15px; border: #C4CDD9 1px solid; border-radius: 10px; margin-top: 10px }
#regiwritetitle { font-family: 'Noto Sans KR', sans-serif; font-size: 20px; color: #475870}
#regiwrite {border: #e0e0e0 1px solid; resize: none; background-color: white; border-radius: 5px}
#regiwrite:FOCUS {background-color: white; border: #a2a2ff 1px solid;}
#commentstart {font-family: 'Noto Sans KR', sans-serif; color: #8677f0 ; font-size: 12px}

.commentre {font-size: 13px}
.readcomment {border-bottom: #C4CDD9 1px solid; border-top: #C4CDD9 1px solid; margin-top: -1px}
.margintop10{margin-top: 10px; width: 770px}

/*--------------------------게시판 overflow작업----------------------------  */
#overf {display: inline-block; overflow: hidden; white-space: nowrap; text-overflow: ellipsis; padding-top: 13px; vertical-align: middle; }


/*-------------------------켈린더!!!!----------  */
#calTitle *, #myCalender * { position:relative; margin: 0px; padding: 0px; } 
#calTitle, #myCalender { margin: 20px 0 0 0; padding: 0px;  font-family: '돋움', Dotum, AppleGothic, sans-serif; font-size: 12px; } 
#themore {color: white; height:15px; margin-top:2px; float: right; border-radius: 8px; font-family: 'Nanum Pen Script', serif; font-size: 14px; background-color: #004b97;}
#myCalender{margin-left: 15px}
#myCalender table td{width: 95px; height: 100px}
#myCalender table td:LAST-CHILD {color: #0100FF}
#calTitle { margin-bottom: 5px; } 
#calTitle button { width: 26px; height: 16px; font-size: 9px; line-height: normal; } 
#calTitle span { width: auto; } 


#myCalender td { 
	 border: 1px solid #d6e0fe; padding: 4px 5px 3px 5px; width: 22px; height: 22px; 
	 font-family: 돋움, Dotum, AppleGothic, sans-serif; font-size: 12px;
} 
#myCalender .blankLine td { border-width: 0; } 
